<h1>The Rules</h1>

<h2>The Rules are simple</h2>

<p>Rock</p>
<p>Rock beat scissors</p>

<p>Paper</p>
<p>Paper beats rock</p>

<p>Scissors</p>
<p>Scissors beat paper</p>

<p>Just like the hand game</p>
